/*=========================================================
	login
===========================================================*/
#login-btn{

    font-size: 16px;
    background: none;
    text-decoration: none;
    border: none;
    width: 60px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;


}

#login-btn:hover{
  
}

.popup{

    background:  rgba(0,0,0,0.06);
    width:  100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content{
    height: 400px;
    width: 900px;
    background:  #ffffff;
    padding: 20px;
    border-radius:  5px;
    position: relative;
    





}

.popup .manually input{
    margin: 5px auto;
    display: inline-block;
    width: 250px;
    padding: 8px;
    border: 1px solid grey;
    box-shadow: 6px 10px 10px -4px rgba(0,0,0,.75);
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
}

.popup img{

    width: 20px;
    height: 20px;
    border-radius: 100%;

}

.close{
    
    position: absolute;
    top: -5px;
    right: -5px;
    height: 20px;
    width: 20px;
    border-radius:  50%;
    box-shadow: 6px 10px 10px -4px rgba(0,0,0,.75);
    cursor: pointer;

 

}
.popup .btn{

    margin: 20px auto;


}
.btn label{

    font-size: 20px;
    font-weight: 500;
}

.btn .checkbox{
    width: 20px;
    height: 15px;

}

.lower-btn {

    font-size: 18px;
    font-family: sans-serif;
    

}
.lower-btn .reg{

    color: #ff6666;

}

.lower-btn .forgot{

    color: grey;
}

.fb-login button{
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    width:  250px;
    height: 43px;
    color: #ffffff;
    background-color: #45619D;
    font-family: sans-serif;

}
.fb-login img{
    height: 30px;
    width: 30px;
    margin: 5px;
}

.fb-login button:hover{

cursor: pointer;


}

.twit-login{
    margin: 20px auto;


}

.twit-login img{
    
    height: 40px;
    width: 35px;
     margin-right: 28px;
   
}

.twit-login button{
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    width:  250px;
    height: 43px;
    color: #ffffff;
    font-family: sans-serif;
    background: #52A6CA;
}
.twit-login button:hover{
    cursor: pointer;
}

.google-login button{
    font-size: 16px;
    font-weight: bold;
    width:  250px;
    height: 43px;
    border-radius: 10px;
    color: #ffffff;
    font-family: sans-serif;
    background: #DC4E41;
    


}

.google-login img{
    height: 35px;
    width: 35px;
    margin-right: 20px;
    border-radius: 50%;
}

.google-login button:hover{
    cursor: pointer;
}

.or h6{

    
    font-family: sans-serif;
    margin: 150px auto;

}

/*=========================================================
	/login
===========================================================*/

/*=========================================================
	
===========================================================*/

.feedback{

    widows: 600px;
    height: 200px;
    background-color: black;

}