/*=========================================================
	login
===========================================================*/

#login-btn {
    font-size: 16px;
    background: none;
    text-decoration: none;
    border: none;
    width: 60px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.popup {
    background: rgba(0, 0, 0, 0.06);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content {
    height: 400px;
    width: 900px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup .manually input {
    margin: 5px auto;
    display: inline-block;
    width: 250px;
    padding: 8px;
    border: 1px solid grey;
    box-shadow: 6px 10px 10px -4px rgba(0, 0, 0, .75);
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
}

.popup img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.close {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 10px 10px -4px rgba(0, 0, 0, .75);
    cursor: pointer;
}

.popup .btn {
    margin: 20px auto;
}

.btn label {
    font-size: 20px;
    font-weight: 500;
}

.btn .checkbox {
    width: 20px;
    height: 15px;
}

.lower-btn {
    font-size: 18px;
    font-family: sans-serif;
}

.lower-btn .reg {
    color: #ff6666;
}

.lower-btn .forgot {
    color: grey;
}

.fb-login button {
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 250px;
    height: 43px;
    color: #ffffff;
    background-color: #45619D;
    font-family: sans-serif;
}

.fb-login img {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.fb-login button:hover {
    cursor: pointer;
}

.twit-login {
    margin: 20px auto;
}

.twit-login img {
    height: 40px;
    width: 35px;
    margin-right: 28px;
}

.twit-login button {
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 250px;
    height: 43px;
    color: #ffffff;
    font-family: sans-serif;
    background: #52A6CA;
}

.twit-login button:hover {
    cursor: pointer;
}

.google-login button {
    font-size: 16px;
    font-weight: bold;
    width: 250px;
    height: 43px;
    border-radius: 10px;
    color: #ffffff;
    font-family: sans-serif;
    background: #DC4E41;
}

.google-login img {
    height: 35px;
    width: 35px;
    margin-right: 20px;
    border-radius: 50%;
}

.google-login button:hover {
    cursor: pointer;
}

.or h6 {
    font-family: sans-serif;
    margin: 150px auto;
}


/*=========================================================
	/login
===========================================================*/


/*=========================================================
  Manage users and guests
===========================================================*/

.user-table th {
    background-color: #333333;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
}

.user-table td {
    color: gray;
    font-family: sans-serif;
    font-size: 14px;
    border: none;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.user-table tr {
    border: none;
    max-height: 30px;
    min-height: 20px;
}

.user-table tr:hover {
    color: white;
    font-family: sans-serif;
    border: 2px solid #19e64d;
    cursor: pointer;
    background-color: whitesmoke;
}

.user-table button {
    font-size: 10px;
    border-radius: 50px;
    border: 1px solid green;
    width: 90px;
    height: 25px;
    color: white;
}

.user-table button:hover {
    font-size: 10px;
    background: #19e64d;
    color: white;
    transition: 0.5s;
}

.modal button {
    font-size: 10px;
}

.modal-body label {
    font-size: 17px;
    font-family: sans-serif;
    color: #333333;
}

#message {
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
}

.view-payment th {
    background-color: #333333;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    padding-left: 10px;
}

.view-payment td {
    color: gray;
    font-family: sans-serif;
    font-size: 14px;
    border: none;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.view-payment tr:hover {
    color: white;
    font-family: sans-serif;
    border: 2px solid #19e64d;
    cursor: pointer;
    background-color: whitesmoke;
}

.view-payment td {
    color: gray;
    font-family: sans-serif;
    font-size: 14px;
    border: none;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.view-payment tr:hover {
    color: white;
    font-family: sans-serif;
    border: 2px solid #19e64d;
    cursor: pointer;
    background-color: whitesmoke;
}

.item {
    box-shadow: 6px 10px 10px -4px #19E64D;
}

.checked {
    color: orange;
}

.rating {
    float: right;
}


/*=========================================================
	users
===========================================================*/

.panel {
    width: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 6px 10px 10px -4px rgba(0, 0, 0, .75);
    margin-bottom: 100px;
}

.history p {
    margin: 10px;
}

.history label {
    margin: 10px;
}

#peso {
    font-size: 50px;
    font-weight: bolder;
    color: #19e64d;
    text-align: center;
    height: 140px;
}

.e-wallet label {
    margin: 15px;
}

.e-wallet p {
    padding-top: 50px;
}

#dot {
    border-bottom: 2px dotted #19e64d;
    width: 100%;
}

.vouchers {
    width: 500px;
    background-color: whitesmoke;
    height: 300px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 6px 10px 10px -4px #52A6CA;
}

.vouchers p {
    color: #19e64d;
    font-size: 16px;
}

.vouchers h6 {
    font-size: 20px;
    color: #19e64d;
    box-shadow: 6px 20px 50px -5px gold;
}

#discount {
    font-size: 30px;
    font-weight: bold;
}

.side-bar a .active {
    font-size: 18px;
    color: #19e64d;
}

.add-user-modal input {
    border-radius: 5px;
    margin: 5px;
}

.add-user-modal select {
    margin: 5px
}